In [1]:
import pandas as pd
import pandasql as ps
import time

In [2]:
user_usage = pd.read_csv("./data/user_usage.csv")
user_device = pd.read_csv("./data/user_device.csv")

In [3]:
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [4]:
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

Cоеденим таблицы user_usage c user_device по uder_id

In [5]:
start_time = time.time()
result = pd.merge(user_usage, 
                  user_device[['use_id', 'platform', 'device']], on='use_id')
print("{} second".format(round((time.time()-start_time), 4)))
result.head()

0.004 second

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

In [6]:
start_time = time.time()
result_sql = ps.sqldf("SELECT u.*, d.platform, d.device FROM user_usage u INNER JOIN user_device d ON (u.use_id=d.use_id);")
print("{} second".format(round((time.time()-start_time), 4)))
result.head()

0.357 second

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

Найдем средние значения параметров использования телефонов

In [9]:
start_time = time.time()
aggr_func_result = result.groupby('device').agg({"outgoing_mins_per_month": "mean",
        "outgoing_sms_per_month": "mean",
        "monthly_mb": "mean",
        "use_id": "count"})
print("{} second".format(round((time.time()-start_time), 4)))
print(aggr_func_result)

0.004 second
                        outgoing_mins_per_month  outgoing_sms_per_month  \
device
A0001                                170.395000               62.100000
C6603                                 92.520000              162.390000
D2303                                 96.845000               35.375000
D5503                                146.450000               48.670000
D5803                                244.880000              105.950000
D6603                                362.010000               14.190000
E6653                                135.090000               42.020000
EVA-L09                              115.260000                0.920000
F3111                                 46.262500                0.415000
GT-I8190N                             85.970000               26.940000
GT-I9195                             199.430000               44.126667
GT-I9300                             167.560000               97.140000
GT-I9505                             162.770909               97.848182
GT-I9506                             119.800000               26.110000
GT-I9515                             180.310000               45.793333
GT-N7100                              16.340000               91.760000
HTC Desire 510                       797.060000                7.670000
HTC Desire 530                       287.740000               33.970000
HTC Desire 620                        12.850000               58.320000
HTC Desire 626                       250.870000              149.370000
HTC Desire 825                        57.030000               14.050000
HTC One M9                           129.850000               66.650000
HTC One S                             74.590000              150.590000
HTC One mini 2                        78.800000              327.330000
HTC One_M8                            22.850000               34.540000
HUAWEI CUN-L01                       124.700000                4.640000
HUAWEI VNS-L31                         4.620000               22.940000
LG-H815                              155.710000               10.140000
Lenovo K51c78                        215.920000               12.930000
Moto G (4)                           103.390000               81.555000
MotoE2(4G-LTE)                        70.340000               18.000000
Nexus 5X                              67.350000               15.380000
ONE A2003                            447.085000               41.445000
ONEPLUS A3003                        301.104286               70.975714
SM-A300FU                            124.960000              159.912500
SM-A310F                             103.970000              234.720000
SM-A500FU                            125.320000              138.280000
SM-G360F                              68.170000               42.705000
SM-G361F                              65.858000               88.274000
SM-G531F                             180.180000               17.490000
SM-G800F                              74.230000               47.400000
SM-G900F                             178.825333               82.664667
SM-G903F                             248.950000               52.470000
SM-G920F                             192.882000              174.142000
SM-G925F                             155.345000               10.907500
SM-G930F                            1161.240000              100.210000
SM-G935F                             325.834000              178.292000
SM-J320FN                            183.402000               78.806000
SM-N9005                             205.110000              273.750000
SM-N910F                             152.142000               62.530000
VF-795                                57.660000               62.850000
Vodafone Smart ultra 6                42.750000               46.830000
X11                                   60.650000              261.900000
iPhone6,2                             50.680000              540.600000
iPhone7,2                            681.440000               47.350000

                          monthly_mb  use_id
device
A0001                   15573.330000       2
C6603                    1557.330000       1
D2303                     519.120000       2
D5503                    1557.330000       2
D5803                    1557.330000       1
D6603                    7267.550000       2
E6653                    5191.120000       1
EVA-L09                  1557.330000       1
F3111                    2076.450000       4
GT-I8190N                 407.010000       1
GT-I9195                 1211.260000       3
GT-I9300                  464.185000       2
GT-I9505                 5564.726364      11
GT-I9506                  803.240000       1
GT-I9515                 1557.330000       3
GT-N7100                11939.560000       2
HTC Desire 510          12562.488000       5
HTC Desire 530           1557.330000       1
HTC Desire 620             74.400000       1
HTC Desire 626            519.120000       2
HTC Desire 825           5498.970000       3
HTC One M9               2362.070000       1
HTC One S                1038.210000       2
HTC One mini 2          13842.956667       3
HTC One_M8               6577.120000       1
HUAWEI CUN-L01             11.680000       1
HUAWEI VNS-L31           3114.670000       1
LG-H815                  1557.330000       1
Lenovo K51c78            1557.330000       1
Moto G (4)               5191.120000       4
MotoE2(4G-LTE)            212.640000       1
Nexus 5X                 1557.330000       1
ONE A2003                2076.450000       2
ONEPLUS A3003            3823.610000       7
SM-A300FU                1687.112500       4
SM-A310F                 1557.330000       2
SM-A500FU                1557.330000       1
SM-G360F                 1557.330000       2
SM-G361F                  934.404000       5
SM-G531F                 2076.450000       1
SM-G800F                 1557.330000       1
SM-G900F                 3841.427333      30
SM-G903F                 1557.330000       2
SM-G920F                 1985.168000       5
SM-G925F                 3633.775000       4
SM-G930F                 7959.700000       3
SM-G935F                 4568.182000       5
SM-J320FN                 830.574000       5
SM-N9005                16611.550000       1
SM-N910F                 8038.370000       5
VF-795                   1557.330000       1
Vodafone Smart ultra 6   5191.120000       1
X11                     12458.670000       2
iPhone6,2                 650.920000       1
iPhone7,2                1271.390000       1

In [8]:
start_time = time.time()
aggr_func_result_sql = ps.sqldf("SELECT avg(outgoing_sms_per_month), avg(monthly_mb), COUNT(use_id) FROM result_sql;")
print("{} second".format(round((time.time()-start_time), 4)))
print(aggr_func_result)

0.0325 second
                        outgoing_mins_per_month  outgoing_sms_per_month  \
device
A0001                                170.395000               62.100000
C6603                                 92.520000              162.390000
D2303                                 96.845000               35.375000
D5503                                146.450000               48.670000
D5803                                244.880000              105.950000
D6603                                362.010000               14.190000
E6653                                135.090000               42.020000
EVA-L09                              115.260000                0.920000
F3111                                 46.262500                0.415000
GT-I8190N                             85.970000               26.940000
GT-I9195                             199.430000               44.126667
GT-I9300                             167.560000               97.140000
GT-I9505                             162.770909               97.848182
GT-I9506                             119.800000               26.110000
GT-I9515                             180.310000               45.793333
GT-N7100                              16.340000               91.760000
HTC Desire 510                       797.060000                7.670000
HTC Desire 530                       287.740000               33.970000
HTC Desire 620                        12.850000               58.320000
HTC Desire 626                       250.870000              149.370000
HTC Desire 825                        57.030000               14.050000
HTC One M9                           129.850000               66.650000
HTC One S                             74.590000              150.590000
HTC One mini 2                        78.800000              327.330000
HTC One_M8                            22.850000               34.540000
HUAWEI CUN-L01                       124.700000                4.640000
HUAWEI VNS-L31                         4.620000               22.940000
LG-H815                              155.710000               10.140000
Lenovo K51c78                        215.920000               12.930000
Moto G (4)                           103.390000               81.555000
MotoE2(4G-LTE)                        70.340000               18.000000
Nexus 5X                              67.350000               15.380000
ONE A2003                            447.085000               41.445000
ONEPLUS A3003                        301.104286               70.975714
SM-A300FU                            124.960000              159.912500
SM-A310F                             103.970000              234.720000
SM-A500FU                            125.320000              138.280000
SM-G360F                              68.170000               42.705000
SM-G361F                              65.858000               88.274000
SM-G531F                             180.180000               17.490000
SM-G800F                              74.230000               47.400000
SM-G900F                             178.825333               82.664667
SM-G903F                             248.950000               52.470000
SM-G920F                             192.882000              174.142000
SM-G925F                             155.345000               10.907500
SM-G930F                            1161.240000              100.210000
SM-G935F                             325.834000              178.292000
SM-J320FN                            183.402000               78.806000
SM-N9005                             205.110000              273.750000
SM-N910F                             152.142000               62.530000
VF-795                                57.660000               62.850000
Vodafone Smart ultra 6                42.750000               46.830000
X11                                   60.650000              261.900000
iPhone6,2                             50.680000              540.600000
iPhone7,2                            681.440000               47.350000

                          monthly_mb  use_id
device
A0001                   15573.330000       2
C6603                    1557.330000       1
D2303                     519.120000       2
D5503                    1557.330000       2
D5803                    1557.330000       1
D6603                    7267.550000       2
E6653                    5191.120000       1
EVA-L09                  1557.330000       1
F3111                    2076.450000       4
GT-I8190N                 407.010000       1
GT-I9195                 1211.260000       3
GT-I9300                  464.185000       2
GT-I9505                 5564.726364      11
GT-I9506                  803.240000       1
GT-I9515                 1557.330000       3
GT-N7100                11939.560000       2
HTC Desire 510          12562.488000       5
HTC Desire 530           1557.330000       1
HTC Desire 620             74.400000       1
HTC Desire 626            519.120000       2
HTC Desire 825           5498.970000       3
HTC One M9               2362.070000       1
HTC One S                1038.210000       2
HTC One mini 2          13842.956667       3
HTC One_M8               6577.120000       1
HUAWEI CUN-L01             11.680000       1
HUAWEI VNS-L31           3114.670000       1
LG-H815                  1557.330000       1
Lenovo K51c78            1557.330000       1
Moto G (4)               5191.120000       4
MotoE2(4G-LTE)            212.640000       1
Nexus 5X                 1557.330000       1
ONE A2003                2076.450000       2
ONEPLUS A3003            3823.610000       7
SM-A300FU                1687.112500       4
SM-A310F                 1557.330000       2
SM-A500FU                1557.330000       1
SM-G360F                 1557.330000       2
SM-G361F                  934.404000       5
SM-G531F                 2076.450000       1
SM-G800F                 1557.330000       1
SM-G900F                 3841.427333      30
SM-G903F                 1557.330000       2
SM-G920F                 1985.168000       5
SM-G925F                 3633.775000       4
SM-G930F                 7959.700000       3
SM-G935F                 4568.182000       5
SM-J320FN                 830.574000       5
SM-N9005                16611.550000       1
SM-N910F                 8038.370000       5
VF-795                   1557.330000       1
Vodafone Smart ultra 6   5191.120000       1
X11                     12458.670000       2
iPhone6,2                 650.920000       1
iPhone7,2                1271.390000       1

Вывод: время обработки запроса pandasql в разы больше pandas